<% include ./partials/header.ejs %>

<div class="container" id="content">
    <div class="row">
        <h1>Ezekiel Barefoot</h1><span id="job">Web Developer</span>
        <hr>
        <h2 class="col-lg-6"><em>Technologies</em></h2>
        <div class="col-lg-6">
            <ul class="talents">
                <li>HTML5, CSS3 & Javascript</li>
                <li>NodeJS & Express</li>
            </ul>
            <ul class="talents">
                <li>MongoDB & Mongoose</li>
                <li>jQuery</li>
            </ul>
        </div>
    </div>
</div>