body {
    background: #fff;
    font-family: "Georgia", "Helvetica";
    color: #232323;
    height: 100%;
}

#content {
    border-top: 6px solid #9b1a1a;
    margin: 5vh auto ;
    background: #f9f9f9;
    padding: 5vh;
}

.talents {
    list-style: none;
    margin-top: 10px;
    padding: 0px;
    font-size: 15px;
}

.talents li:nth-child(1) {
    border-bottom: 1px solid #232323;
}

#job {
    font-size: 20px;
    text-align: left;
}

ul {
    padding: 0;
    float: left;
    width: 32%;
}

h1 {
    letter-spacing: 4px;
    text-align: left;
    font-size: 5em;
}

h2 {
    margin: 15px auto;
}

#profile {
    margin-top: 10px;
    font-size: 20px;
}

hr {
    border-top: 1px solid #9b1a1a;
}